/* CreateSurvey.css */

body {
    background-color: #f5f5f0; /* Blanco hueso */
    color: rgb(63, 55, 77); /* Morado oscuro */
    margin: 0;
    font-family: Arial, sans-serif;
}

.create-survey-container {
    padding: 20px;
    min-height: 100vh;
}

.header-section {
    background-color: rgb(63, 55, 77);
    color: #f5f5f0; /* Blanco hueso */
    border-radius: 20px;
}

.create-survey-card {
    background-color: #ffffff;
    color: rgb(63, 55, 77); /* Morado oscuro */
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.create-survey-input {
    background-color: #e6e6e6;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 25px;
    padding: 15px;
    font-size: 1.1em;
}

.remove-btn, .add-btn {
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.remove-btn {
    background-color: #ff6b6b;
    color: #ffffff;
    border: none;
}

.remove-btn:hover {
    transform: scale(1.05);
}

.add-btn {
    background-color: #6c757d;
    color: #ffffff;
    border: none;
}

.add-btn:hover {
    transform: scale(1.05);
}

.create-survey-input:focus, .form-select:focus {
    border-color: #DB6FEB;
    box-shadow: 0 0 5px rgba(219, 111, 235, 0.5);
}

.btn-primary {
    background-color: #3F374D;
    border: none;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.btn-primary:hover {
    transform: scale(1.05);
}

.btn-success {
    background-color: #3F374D;
    border: none;
    border-radius: 20px;
    padding: 15px 50px;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.btn-success:hover {
    transform: scale(1.05);
}
