/* UserDashboard.css */
.dashboard-container {
    padding: 40px;
    font-family: Arial, sans-serif;
    color: #333;
    max-width: 1400px;
    margin: auto;
    background-color: #f5f5f5;
    border-radius: 16px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.jumbotron {
    margin-bottom: 68px;
    height: 300px;
    background-color: #3F374D;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-right: 20px;
    border: 4px solid #f0f0f0;
}

.user-details h1 {
    margin: 0;
    font-size: 40px;
    color: #FFFFFF;
}

.user-role {
    font-weight: normal;
    margin-top: 4px;
    font-size: 16px;
    color: #ffffff;
}


.edit-profile {
    color: #d17bff;
    text-decoration: none;
    /* font-weight: bold; */
    font-size: 18px;
    display: block;
    margin-top: 12px;
}


.create-profile {
    color: #d17bff;
    text-decoration: none;
    /* font-weight: bold; */
    font-size: 18px;
    display: block;
    margin-top: 2px;
}

.create-profile:hover,
.edit-profile:hover {
    text-decoration: none;
    color: #ffffff;
}

.btn-create-profile {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #d17bff;
    color: white;
    border-radius: 8px;
    height: 34px;
    width: 160px;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    gap: 8px;
    transition: background-color 0.3s ease;
    margin-top: 6px;
}

.btn-create-profile:hover {
    background-color: #b15fdf;
    color: #FFFFFF;
}




.user-stats {
    top: 220px;
    position: absolute;
    display: flex;
    gap: 30px;
    margin-top: 20px;
    width: 70%;
    justify-content: space-around;
}

.stat-item {
    min-height: 100px;
    background-color: #f5f5f5;
    color: #3F374D;
    padding: 20px;
    border-radius: 12px;
    text-align: start;
    min-width: 120px;
    flex: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.stat-item h2 {
    margin: 5px 0;
    font-size: 24px;
    color: #3F374D;

}

.stat-value {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.stat-item .stat-change {
    font-size: 14px;
    margin-left: 10px;
}

.stat-change.positive {
    border-radius: 6px;
    padding: 6px;
    color: #27ae60;
    font-size: 18px;
}



.annual-interactions {
    text-align: center;
    position: absolute;
    top: 20px;
    right: 28px;
}

.annual-interactions h2 {
    font-size: 32px;
    color: #ffffff;
}

.annual-interactions p {
    font-size: 14px;
    color: #d17bff;
}

.progress-ring {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #ffffff;
    border-top-color: #d17bff;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 19px;
}

.dash-surv-header h2 {
    margin-bottom: 32px;
}

.dash-link {
    top: 20px;
    display: flex;
    font-size: 18px;
    color: #d17bff;
    text-decoration: none;
    flex-direction: row-reverse;
    border: none;
    background-color: #f5f5f5;
    font-weight: normal;
}

.available-survey-status-header {
    display: flex;
    height: 20px;
    width: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 10px;
    justify-content: center;
    align-items: center;
  }

.available-survey-status-header.public {
    background-color: #DAD23B;
    border-radius: 2px;
}

.available-survey-status-header.private {
    background-color: #875FD1;
    border-radius: 2px;
}

.dash-surv-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

}

.dash-body-text {
    text-align: start;
    font-size: 14px;
    color: #4A4A4A;
    margin-bottom: 6px;
    font-weight: 300;
}

.card-dash-body {
    border-radius: 4px;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    padding: 12px 8px;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-dash-body h3 {
    font-size: 16px;
    color: black;
    font-weight: 900;
    margin-bottom: 10px;
    margin-right: 20px;
}

.available-dash-card-dates {
    font-weight: 400;
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
}

.available-survey-dash {
    margin-left: 86%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.available-dash-creator-avatar {
    margin-left: 86%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.survey-list,
.voting-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 32px;
}

.survey-card,
.voting-card {
    position: relative;
    background-color: #fff;
    /* padding: 20px; */
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
    min-width: 260px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 410px;
    border: 1px solid #dddada;
    background-color: #ffffff;
    cursor: pointer;
    display: flex
;
    flex-direction: column;
    min-height: 410px;
}

.survey-card:hover,
.voting-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

img.survey-dash-image {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

