/* Home.css */

body {
  background-color: #f5f5f0; /* Blanco hueso */
  color: rgb(63, 55, 77); /* Morado oscuro */
  margin: 0;
  font-family: Arial, sans-serif;
}
  
.home-container {
  padding: 20px;
  min-height: 100vh;
}
.jumbotron {
  flex-direction: column;
  align-items: flex-start;
  display: flex; /* Usa flexbox para organizar los elementos */
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
}

.jumbotron-image {
  max-width: 150px; 
  height: auto; /* Mantiene la proporción de la imagen */
  margin-left: 20px; /* Espacio a la izquierda de la imagen */
}
  
.header-section {
  background-color: rgb(63, 55, 77);
  color: #f5f5f0; /* Blanco hueso */
  border-radius: 20px;
}
  
.home-login-btn {
  background-color: #DB6FEB;
  color: #ffffff;
  border: none;
  transition: transform 0.3s ease;
  border-radius: 16px;
  cursor: pointer;
  width: 260px;
  height: 46px;
}
.home-signup-btn{
  background-color: #DB6FEB;
  color: #ffffff;
  border: none;
  transition: transform 0.3s ease;
  border-radius: 16px;
  cursor: pointer;
  width: 260px;
  height: 46px;
}

.home-e{
  margin-left: 14px;
  font-weight: bold;
  display: inline-block;
  font-size: 70px;
  color: #DB6FEB;
}
  
.login-btn:hover, .signup-btn:hover {
  transform: scale(1.05);
}
  
.feature-highlights h2 {
  color: rgb(63, 55, 77); /* Morado oscuro */
}
  
.feature-card {
  background-color: #ffffff;
  color: rgb(63, 55, 77); /* Morado oscuro */
  border-radius: 20px;
}
  
.roadmap-section h2, .hot-surveys-section h2 {
  color: rgb(63, 55, 77); /* Morado oscuro */
}
  
.roadmap-image {
  border-radius: 20px;
  max-height: 400px;
}
  
.hot-survey-card {
  background-color: #ffffff;
  color: rgb(63, 55, 77); /* Morado oscuro */
  border-radius: 20px;
}
  
.hot-survey-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
  
.participate-btn {
  background-color: #DB6FEB;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
  
.participate-btn:hover {
  transform: scale(1.05);
}
  