h1.home-title {
  font-size: 32px;
  margin-bottom: 16px;
  text-align: start;
  color: #FFFFFF;
  font-weight: bold;
}

.home-container {
  background-color: #FFFFFF;
  font-family: "Lato", sans-serif;
  padding: 0 15px; /* Añadir padding lateral para móviles */
}

.container-surveys {
  margin: 43px 64px;
}

.lead {
  text-align: start;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
}

.header-img {
  height: 380px;
  position: absolute;
  top: 17px;
  right: -16px;
}

.header-home {
  position: relative;
  display: flex;
  background-color: #3F374D;
  padding: 40px;
  border-radius: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.home-signup-btn {
  height: 46px;
  width: 247px;
  background-color: #DB6FEB;
  color: #ffffff;
  border-radius: 8px;
  font-size: 18px;
}

.login-btn:hover, .signup-btn:hover {
  transform: scale(1.05);
  color: #FFFFFF;
}

.why-part {
  margin-top: 103px;
  color: black
}

p.why-evote {
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: 400;
}

p.why-text {
  margin-top: 16px;
  margin-bottom: 56px;
}

.card-container {
  text-align: center; /* Centrar texto en tarjetas */
}

.card.home-cards {
  border: none;
  height: 100%;
  width: 90%;
  display: flex;
  margin: 10px 0;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 7px 7px 7px 2px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  justify-content: flex-start;
}

.card.home-cards h1 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.card.home-cards p {
  font-weight: 300;
  color: #827e7e;
}

.feature-card {
  background-color: #ffffff;
  color: rgb(63, 55, 77); /* Morado oscuro */
  border-radius: 20px;
}

.roadmap-section h2, .hot-surveys-section h2 {
  color: rgb(63, 55, 77); /* Morado oscuro */
}

.roadmap-image {
  border-radius: 20px;
  max-height: 400px;
  width: 100%; /* Para que la imagen sea responsiva */
  object-fit: cover; /* Mantiene la relación de aspecto */
}

.hot-survey-card {
  background-color: #ffffff;
  color: rgb(63, 55, 77); /* Morado oscuro */
  border-radius: 20px;
}

.hot-survey-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%; /* Para que la imagen sea responsiva */
  object-fit: cover; /* Mantiene la relación de aspecto */
}

.participate-btn {
  background-color: #DB6FEB;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease;
  width: 100%; /* Para que el botón ocupe todo el ancho disponible */
}

.participate-btn:hover {
  transform: scale(1.05);
}