div#app.h-100{
  background-color: #FFFFFF;
}

h1.home-title {
  font-size: 32px;
  margin-bottom: 16px;
  text-align: start;
  color: #FFFFFF;
  font-weight: bold;
}

div.home-container {
  background-color: #FFFFFF;
  font-family: "Lato", sans-serif;
  background-color: #FFFFFF;
  margin: 43px 64px;
}
.header-img {
  height: 380px;
  position: absolute;
  top: 12px;
  right: -16px;
}

.header-home {
  position: relative;
  display: flex;
  background-color: #3F374D;
  padding: 40px;
  border-radius: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.home-signup-btn {
  height: 46px;
  width: 247px;
  background-color: #DB6FEB;
  color: #ffffff;
  border-radius: 8px;
  font-size: 18px;
}

.login-btn:hover, .signup-btn:hover {
  transform: scale(1.05);
  color: #FFFFFF;
}

.why-part {
  margin-top: 103px;
  color: black
}

p.why-evote {
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: 400;
}

p.why-text {
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 56px;
  font-weight: 300;
}
.card-container {
  text-align: center;
  display: flex;
  justify-content: center;
  /* width: 100%; */
  /* box-sizing: border-box; */
}
.card1{
  margin-right: 32px;
}
.card2{
  margin-right: 32px;
}
.card.home-cards {
  max-height: 298px;
  border: none;
  height: 100%;
  margin: 10px 0;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 7px 7px 7px 2px rgba(0, 0, 0, 0.2);
  flex: 1;
}

.card.home-cards h1 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.card.home-cards p {
  font-weight: 300;
  color: #827e7e;
}
.hot-survey-card {
  background-color: #ffffff;
  color: rgb(63, 55, 77); /* Morado oscuro */
  border-radius: 20px;
}

.hot-survey-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%; /* Para que la imagen sea responsiva */
  object-fit: cover; /* Mantiene la relación de aspecto */
}

.participate-btn {
  background-color: #DB6FEB;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease;
  width: 100%; /* Para que el botón ocupe todo el ancho disponible */
}

.participate-btn:hover {
  transform: scale(1.05);
}

.work-part{
  color: black;
  margin-top: 56px;
}
.how-text{
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  color: black;
  margin-bottom: 56px;

}

.circle{
  width: 45px;         /* Ancho del círculo */
  height: 45px;        /* Alto del círculo */
  border-radius: 50%;  /* Hace que el div tenga forma de círculo */
  background-color: #DB6FEB; 
  color: black;        /* Color del número */
  display: flex;       /* Usar flexbox para centrar el contenido */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  font-size: 24px;     /* Tamaño del número */
}

.card-stepper{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.stepper-box1{
  margin-left: 186px;
}
.img-stepper1{
  width: 516px;
  height: 585px;
}

.stepper-line{
  margin-left: 183px;
  width: 1px;            /* Ancho de la línea */
  height: 647px;         /* Altura de la línea */
  margin: 0 auto;   
  border: solid #DB6FEB;    /* Centra la línea si está dentro de un contenedor */
}

.stepper-text{
  flex: 1;
  margin-left: 30px;

}
.stepper-text h3{
  margin-bottom: 18px;
  font-size: 39px;
  font-weight: bolder;
}
.stepper-text p{
  margin-bottom: 24px;
}
.stepper-link{
  color: #DB6FEB;
  width: 91px;
  height: 22px;
  text-decoration: none;
  font-size: 18px;
}
.home-foot{
  height: 451px;
  margin-top: 72px;
  background-color: #FCEAFF;
  border-radius: 10px;
}
p.text-foot{
  font-weight: 300;
  font-size: 32px;
  padding-top: 48px;
  height: 38px;
  margin-bottom: 76px;
}
.foot-img{
  display: flex;
  width: 231px;
  height: 277px;
  margin-left: 134px;
  margin-right: 134px;
}
