/* login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
    background-color: #2E2B3B;
    color: #FFFFFF;
}

.login-content {
    display: flex;
    width: 1300px;
    background-color: #3C3A4E;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.login-form-container {
    flex: 1;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-title {
    font-size: 51.84px;
    font-weight: bold;
    margin-bottom: 28.8px;
}

.highlight {
    color: #D07BE0;
}

.form-group {
    margin-bottom: 28.8px;
}

.login-input {
    width: 100%;
    padding: 14.4px;
    font-size: 23.04px;
    border: none;
    border-radius: 7.2px;
    outline: none;
    margin-bottom: 14.4px;
}

.login-btn {
    background-color: #D07BE0;
    color: #FFFFFF;
    border: none;
    padding: 14.4px 28.8px;
    font-size: 23.04px;
    border-radius: 7.2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #B66CC8;
}

.forgot-password-link {
    color: #D07BE0;
    text-decoration: none;
    font-size: 20.16px;
}

.signup-prompt {
    margin-top: 28.8px;
    font-size: 20.16px;
}

.signup-link {
    color: #D07BE0;
    text-decoration: none;
}

.login-image {
    flex: 1;
    background-size: cover;
    background-position: center;
}