.pending-survey-container {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.survey-title {
  color: #5e2e84;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.survey-description {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.countdown-container {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 10px;
  margin: 20px auto;
  width: fit-content;
}

.countdown-container p {
  margin: 0;
  color: #5e2e84;
  font-weight: bold;
}

.countdown-timer {
  font-size: 1.5em;
  margin-top: 5px;
}

.status-message {
  color: #4CAF50;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.back-button {
  background-color: #5e2e84;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #4a226d;
}

.loading {
  color: #5e2e84;
  text-align: center;
  font-size: 1.5em;
  margin-top: 50px;
}


.options-container {
  list-style-type: none; /* Evitamos viñetas adicionales */
  padding-left: 20px; /* Ajuste del padding */
  margin-top: 10px;
}

.option {
  margin-bottom: 10px; /* Aumenta el espacio entre cada opción */
  line-height: 1.6; /* Incrementa el interlineado */
}
