.register-container {
    box-sizing: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E2B3B;
    color: #FFFFFF;
    flex-direction: row-reverse;
    width: 100%;
}
.register-form-container {
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-e {
    height: 101.2px;
    font-weight: bold;
    display: inline-block;
    width: 64.28px;
    font-size: 101.92px;
    color: #DB6FEB;
}

.register-vote {
    font-weight: bold;
    display: inline-block;
    width: 121.75px;
    font-size: 50px;
}
input.form-control.register-input{
    height: 43px;
    width: 382px;
    border-radius: 8px;
}


.register-btn {
    height: 43px;
    margin-top: 30px;
    background-color: #DB6FEB;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    transition: transform 0.3s ease;
    padding: 10px;
    font-size: 16px;
}

.register-btn:hover {
    color: #2E2B3B;
    transform: scale(1.05);
}
.login-register{
    margin-top: 24px;
    font-size: 16px;
}

.input-reg{
    height: 60px;
}

